{% extends "base.html" %}
{% block title %}
Réinitialisation du mot de passe
{% endblock %}

{% block content %}
<section class="org">
  <h2>Réinitialisation du mot de passe</h2>
  <div class="detail">
    <p>Veuillez entrer votre adresse e-mail pour recevoir un lien de réinitialisation du mot de passe.</p>
  </div>

  <form method="post" class="form_user">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Envoyer le lien de réinitialisation</button>
  </form>

  {% if messages %}
  {% for message in messages %}
  <div
    class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  <div class="detail">
    <p>Déjà un compte ? <a href="{% url 'login' %}">Connectez-vous ici</a></p>
  </div>
</section>
{% endblock %}