{% extends "base.html" %}
{% block title %}
Réinitialisation du mot de passe
{% endblock %}

{% block content %}
<section class="org">
  <h2>Un email a été envoyé</h2>
  <div class="detail">
    <p>Si un compte avec cette adresse e-mail existe, vous recevrez un e-mail contenant des instructions pour
      réinitialiser
      votre mot de passe.</p>
  </div>

  {% if messages %}
  {% for message in messages %}
  <div
    class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}

</section>
{% endblock %}