header {
  height: 400px;
  width: 100vw;
  background-image: url('../img/jo.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.burger {
  display: none;
  cursor: pointer;
}

.navbar {
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  font-weight: 600;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .logo img{
  width: 100px;
  border-radius: 100px;
}

.nav-links ul {
  display: flex;
  margin-bottom: 0;
}

.nav-links ul li{
  margin: 0 25px;
  font-size: 1.1rem;
}

.nav-links ul li a:hover{
  color: brown;
  transition: 0.3s ease all;
}

.nav-links ul li a{
  color: black;
}

.nav-links ul li.active a {
  color: green;
  font-weight: bold;
  cursor: default;
}

.nav-links ul li svg {
  fill: black;
}

.burger svg {
  stroke : currentColor ;
}

@media screen and (max-width: 792px) {
  .navbar {
    padding: 20px;
  }
  
  .navbar .logo img{
    width: 70px;
  }

  .nav-links {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 400px;
    padding-top: 50px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-left: -100%;
    backdrop-filter: blur(2px);
    z-index: 1;
  }

  .nav-links.menu-responsive {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav-links ul li{
    text-align: center; 
  }

  .nav-links ul li a{
    color: white;
  }

  .burger {
    display: flex;
    z-index: 3;
  }
}

@media screen and (max-width: 420px) {
  header {
    background-image: url('../img/flamme.jpeg');
  }

  .nav-links ul li a:hover{
    color: gold;
    transition: 0.3s ease all;
  }

  .burger svg {
    fill: gold;
    stroke: gold;
  }
}