{% extends 'base.html' %}

{% block title %}
Conditions générales d'utilisations
{% endblock %}

{% block content %}
<section class="doc">
  <div>
    <h2>Conditions générales d'utilisation</h2>
    <h5> 1. Objet</h5>
    <p>Les présentes Conditions Générales d'Utilisation (CGU) ont pour objet de définir les conditions dans lesquelles
      l'utilisateur accède et utilise l'application AllCréation, une plateforme en ligne dédiée à la vente de billets
      pour les Jeux Olympiques (JO) de Paris. En utilisant ce service, l'utilisateur accepte sans réserve les présentes
      conditions.
    </p>
    <h5>2. Description des Services</h5>
    <p>AllCréation permet à ses utilisateurs de :

      Consulter les événements relatifs aux JO de Paris.
      Créer un compte pour accéder à des fonctionnalités personnalisées.
      Acheter des billets pour les événements en question.
      Recevoir les billets par email après validation du paiement.</p>
    <h5>3. Création de Compte et Conditions d'Achat</h5>
    <p>Pour pouvoir acheter des billets via notre plateforme, l'utilisateur doit obligatoirement créer un compte sur
      AllCréation en fournissant des informations exactes et complètes. Une fois inscrit, l'utilisateur pourra :

      Consulter les événements à venir.
      Sélectionner les billets pour les événements de son choix.
      Finaliser l'achat via notre système de paiement sécurisé.
      Recevoir ses billets par email après validation du paiement.
      Les informations personnelles de l'utilisateur, y compris l'adresse email, seront utilisées exclusivement pour
      l'envoi des billets et les communications relatives à ses achats.
    </p>
    <h5>4. Comportements Interdits</h5>
    <p>En utilisant cette plateforme, l'utilisateur s'engage à respecter les règles suivantes :

      Ne pas utiliser de robots ou autres outils automatisés pour interagir avec le site.
      Ne pas publier de contenu illégal, offensant, diffamatoire ou préjudiciable.
      Ne pas tenter de contourner la sécurité du site ou d'accéder à des informations non autorisées.</p>
    <h5>5. Accès à la Plateforme</h5>
    <p>L'accès au site est possible 24/7, mais AllCréation se réserve le droit de suspendre l'accès à tout moment pour
      des raisons de maintenance ou en cas de force majeure. En cas d'indisponibilité prolongée de la plateforme, nous
      nous engageons à en informer les utilisateurs dans les meilleurs délais.
    </p>
    <h5>6. Propriété Intellectuelle</h5>
    <p>Le contenu du site (textes, images, logos, etc.) est protégé par des droits d'auteur et autres lois relatives à
      la propriété intellectuelle. L'utilisateur s'engage à ne pas copier, modifier, distribuer ou reproduire ces
      éléments sans autorisation préalable.
    </p>
    <h5>7. Limitation de Responsabilité</h5>
    <p>AllCréation ne pourra être tenue responsable :

      En cas de dysfonctionnement temporaire du site.
      Des erreurs survenues lors du traitement de la commande ou de la livraison des billets.
      De l'inaccessibilité aux événements en raison de conditions indépendantes de notre volonté.</p>
    <h5>8. Modifications des CGU</h5>
    <p>AllCréation se réserve le droit de modifier les présentes conditions d'utilisation à tout moment. Les
      utilisateurs seront informés des changements via une notification sur le site ou par email. L'usage continu du
      site après modification constitue une acceptation des nouvelles conditions.
    </p>
    <h5>9. Résiliation et Suspension de Compte</h5>
    <p>En cas de violation des présentes CGU, AllCréation se réserve le droit de suspendre ou résilier l'accès de
      l'utilisateur à son compte, sans préavis et sans remboursement. L'utilisateur peut également résilier son compte à
      tout moment en contactant le support.
    </p>
    <h5>10. Données Personnelles</h5>
    <p>Conformément aux lois sur la protection des données personnelles, AllCréation collecte et traite les données
      nécessaires à la création du compte, à la gestion des achats, et à l'envoi des billets. Pour plus d'informations,
      veuillez consulter notre Politique de Confidentialité.
    </p>
    <h5>11. Cookies</h5>
    <p>AllCréation utilise des cookies pour améliorer l'expérience de l'utilisateur et personnaliser les contenus.
      L'utilisateur peut configurer son navigateur pour refuser les cookies, mais cela pourrait affecter certaines
      fonctionnalités du site.
    </p>
    <h5>12. Loi Applicable et Juridiction</h5>
    <p>Les présentes conditions sont régies par la législation française. En cas de litige, les tribunaux compétents de
      Paris seront seuls habilités à juger des différends relatifs à l'interprétation ou à l'exécution des présentes
      CGU.
    </p>
  </div>
  <a href="{% url 'home' %}" class="redirect">Page principal</a>
</section>
{% endblock %}