{% extends 'base.html' %}

{% block title %}
Conditions générales de vente
{% endblock %}

{% block content %}
<section class="doc">
  <div>
    <h2>Conditions générales de vente</h2>
    <h5>1. Objet</h5>
    <p>Les présentes CGV ont pour objet de définir les conditions de vente des produits et services proposés par
      AllCréation sur le Site, y compris la simulation de paiement pour l'achat de billets pour les événements des Jeux
      Olympiques de Paris 2024 (JO). Le Site permet à l'utilisateur (ci-après "vous", "votre") d'acheter des billets
      pour les JO dans le cadre d'une simulation de paiement avec des prix affichés TTC (Toutes Taxes Comprises), en
      fonction de votre pays de résidence.</p>

    <h5>2. Produits et services</h5>
    <p>AllCréation propose une plateforme permettant aux utilisateurs de :

      Créer un compte personnel ;
      Acheter des billets pour assister aux événements des Jeux Olympiques de Paris 2024 ;
      Gérer leur panier et procéder à l'achat des billets de manière simulée mais sécurisée.
      Les prix des billets sont affichés TTC, ce qui signifie qu'ils incluent toutes les taxes applicables en fonction
      du pays de l'utilisateur. Le montant total de la commande sera indiqué avant la confirmation de l'achat.
    </p>
    <h5>3. Simulation de paiement</h5>
    <p>Le Site propose une simulation de paiement. Cela signifie que lors de votre commande, vous ne serez pas
      réellement débité pour l'achat des billets, mais vous recevrez une confirmation de votre commande et un
      récapitulatif des billets réservés.

      Note importante : Bien que la simulation de paiement soit réalisée pour une meilleure expérience utilisateur,
      aucune transaction bancaire réelle ne sera effectuée. Le montant indiqué est une estimation et peut être ajusté
      avant le paiement réel.
      En cas d'achat réel, une plateforme de paiement sécurisée et agréée sera utilisée pour traiter votre commande.
    </p>
    <h5>4. Prix</h5>
    <p>Les prix des billets sont indiqués sur le Site en euros (€), dollars (USD), ou autres devises locales en fonction
      de votre localisation géographique. Ces prix sont TTC (Toutes Taxes Comprises), incluant les taxes applicables en
      fonction du pays dans lequel l'achat est effectué.

      Les prix peuvent varier selon votre pays de résidence, en fonction des taux de TVA ou autres taxes locales. Les
      ajustements de prix basés sur votre localisation seront appliqués automatiquement au moment de la commande.

      Attention : En cas de modification des prix des billets, cela ne concerne que les nouvelles commandes et non
      celles déjà passées.
    </p>
    <h5>5. Modalités de paiement</h5>
    <p>Le paiement des billets s'effectue via une plateforme de paiement sécurisée au moment de la confirmation d'achat.
      Cette plateforme accepte les cartes bancaires principales, les services de paiement en ligne (PayPal, etc.), et
      d'autres modes de paiement selon votre pays.

      En procédant à l'achat des billets, vous garantissez que vous êtes autorisé à utiliser la méthode de paiement
      choisie et que les informations de paiement fournies sont exactes et complètes.
    </p>
    <h5>6. Livraison et accès aux billets</h5>
    <p>Les billets achetés sur le Site vous seront envoyés par e-mail sous forme de billets électroniques (e-tickets)
      dans les 24 heures suivant le paiement réel. Vous pourrez alors imprimer vos billets ou les enregistrer sur votre
      appareil mobile pour y accéder lors de l'événement.

      Les billets sont non transférables, non remboursables et ne peuvent être échangés sauf en cas de modification ou
      d'annulation de l'événement par l'organisateur des Jeux Olympiques de Paris 2024.
    </p>
    <h5>7. Droit de rétractation</h5>
    <p>Conformément aux dispositions légales applicables, vous disposez d'un droit de rétractation de 14 jours à compter
      de la date de réception des billets électroniques pour annuler votre commande et obtenir un remboursement, sauf si
      l'événement a déjà eu lieu ou si le billet est utilisé avant la fin de ce délai.

      Pour exercer votre droit de rétractation, veuillez nous contacter à l'adresse e-mail suivante :
      josearcadia@gmail.com.
    </p>
    <h5>8. Responsabilité</h5>
    <p>Nous nous engageons à fournir des informations précises et actuelles sur le Site, mais ne pouvons être tenus
      responsables des erreurs, omissions ou inexactitudes qui pourraient survenir.

      AllCréation n'est pas responsable des conséquences liées à l'annulation, au report ou à toute autre modification
      des événements des Jeux Olympiques de Paris 2024, ni des éventuels dysfonctionnements liés à la plateforme de
      paiement.
    </p>
    <h5>9. Propriété intellectuelle</h5>
    <p>Tous les éléments du Site, y compris les logos, marques, graphiques, textes et images, sont protégés par le droit
      d'auteur et les lois sur la propriété intellectuelle. Ils restent la propriété exclusive de AllCréation et ne
      peuvent être utilisés sans autorisation préalable.
    </p>
    <h5>10. Protection des données personnelles</h5>
    <p>Nous recueillons et traitons des données personnelles pour assurer le bon fonctionnement du Site et la gestion
      des commandes. Les informations collectées sont utilisées conformément à notre Politique de Confidentialité.

      Vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition à l'utilisation de vos données
      personnelles en contactant notre service client à l'adresse e-mail suivante : josearcadia@gmail.com.
    </p>
    <h5>11. Modifications des CGV</h5>
    <p>Les présentes Conditions Générales de Vente peuvent être modifiées à tout moment. Les conditions en vigueur au
      moment de la commande seront appliquées. Il est donc recommandé de les consulter régulièrement.
    </p>
    <h5>12. Loi applicable et litiges</h5>
    <p>Les présentes CGV sont soumises au droit français. En cas de litige, les tribunaux français seront compétents,
      sous réserve de dispositions légales impératives dans votre pays de résidence.
    </p>
  </div>
  <a href="{% url 'home' %}" class="redirect">Page principal</a>
</section>
{% endblock %}