{% extends 'base.html' %}

{% block title %}
Mentions légales
{% endblock %}

{% block content %}
<section class="doc">
  <div>
    <h2>Mentions légales</h2>
    <h5>Éditeur du site :</h5>

    <p>Le site web JO2024 est édité par la société AllCréation, immatriculée en France.</p>
    <p>Nom de l'entreprise : AllCréation</p>
    <p>Adresse : Jean Tulipe, 14 Pierreloup, France</p>
    <p>Adresse e-mail : josearcadia@gmail.com</p>
    <p>Directeur de la publication : Jose Arcadia</p>

    <h5>Hébergement du site : Héroku</h5>
    <p>Le site JO2024 est hébergé par :</p>
    <p>Hébergeur : Héroku</p>
    <p>Adresse : 415 Mission Street Suite, 300 San Francisco, 94105</p>
    <p>Email : support@heroku.com</p>
    <p>Propriété intellectuelle :</p>
    <p>Le contenu du site JO2024 (textes, images, logos, vidéos, etc.) est la propriété exclusive d'AllCréation, sauf
      mention contraire. Toute reproduction, distribution, modification ou utilisation de ces éléments sans autorisation
      préalable est interdite.</p>

    <h5>Objet du site :</h5>
    <p>Le site JO2024 est une application dédiée aux Jeux Olympiques de Paris 2024, permettant aux utilisateurs de créer
      un
      compte, d'acheter des billets et d'accéder à diverses informations liées aux événements des JO.</p>

    <h5>Données personnelles :</h5>

    <p>Les données personnelles collectées sur ce site sont nécessaires à l'utilisation de certaines fonctionnalités
      (création de compte, achat de billets, etc.). Ces données sont traitées conformément à la législation en vigueur
      en
      matière de protection des données personnelles.</p>

    <p>Responsable du traitement des données : AllCréation</p>
    <p>Finalité des traitements : Gestion des comptes utilisateurs, gestion des achats de billets, envoi d'informations
      liées à l'événement.</p>
    <p>Droits des utilisateurs : Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et au
      Règlement Général sur la Protection des Données (RGPD), l'utilisateur dispose d'un droit d'accès, de
      rectification,
      d'effacement, de limitation et de portabilité de ses données personnelles. Pour exercer ces droits, il peut
      contacter AllCréation à l'adresse josearcadia@gmail.com.</p>

    <h5>Cookies :</h5>
    <p>Le site utilise des cookies pour améliorer l'expérience utilisateur. Un cookie est un fichier qui permet de
      stocker
      des informations sur l'appareil de l'utilisateur afin de faciliter sa navigation. L'utilisateur peut désactiver
      l'utilisation de cookies dans les paramètres de son navigateur.</p>

    <h5>Limitation de responsabilité :</h5>
    <p>AllCréation met tout en œuvre pour assurer l'exactitude des informations présentes sur le site, mais ne saurait
      être
      tenu responsable des erreurs ou omissions. Le site est accessible 24h/24, 7j/7, sauf en cas de maintenance ou
      d'incidents techniques.</p>

    <h5>Conditions d'utilisation :</h5>
    <p>L'accès et l'utilisation du site JO2024 sont soumis aux présentes mentions légales. En utilisant ce site,
      l'utilisateur accepte de se conformer aux conditions d'utilisation. Toute utilisation du site à des fins
      illégales,
      frauduleuses ou nuisibles à l'image de l'entreprise sera immédiatement poursuivie.</p>

    <h5>Loi applicable :</h5>
    <p>Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux français seront
      compétents.</p>
  </div>
  <a href="{% url 'home' %}" class="redirect">Page principal</a>
</section>
{% endblock %}