{% extends 'base.html' %}

{% block title %}
Règlement général sur la protection des données
{% endblock %}

{% block content %}
<section class="doc">
  <div>
    <h2>RGPD</h2>
    <h5>Introduction</h5>
    <p>
      La présente politique de confidentialité explique comment nous collectons, utilisons, protégeons et partageons les
      informations personnelles que vous nous fournissez lorsque vous utilisez notre application. Nous respectons votre
      vie privée et nous nous engageons à protéger vos données personnelles conformément au Règlement Général sur la
      Protection des Données (RGPD) de l'Union Européenne.
      En utilisant notre application, vous acceptez les pratiques décrites dans cette politique de confidentialité.
    </p>



    <h6>1. Données collectées</h6>
    <p>
      Nous collectons les informations suivantes lors de votre inscription et de l'utilisation de notre application :

      Nom : Prénom et nom de famille.
      Adresse e-mail : Utilisée pour la communication et la gestion de votre compte.
      Mot de passe : Pour sécuriser votre compte.
      Informations de paiement : Si vous effectuez des paiements via notre plateforme, des informations relatives à
      votre carte de crédit ou autre moyen de paiement peuvent être collectées par notre prestataire de paiement tiers
      (ces données ne sont jamais stockées sur nos serveurs).
      Nous ne collectons aucune information sensible autre que celles énumérées ci-dessus.
    </p>


    <h6>2. Objectifs de la collecte des données</h6>
    <p>
      Nous utilisons les données collectées pour les finalités suivantes :

      Création et gestion de compte : Pour permettre la création et la gestion de votre compte utilisateur sur notre
      plateforme.
      Sécurisation de votre compte : Pour garantir la sécurité de votre compte, en vérifiant votre identité et en
      protégeant vos informations personnelles.
      Communications : Pour vous envoyer des notifications importantes, des informations liées à votre compte, ou des
      messages marketing si vous avez donné votre consentement.
      Traitement des paiements : Pour permettre le traitement des paiements via un prestataire de services de paiement
      tiers, en toute sécurité.
    </p>

    <h6>3. Base légale du traitement des données</h6>
    <p>
      Nous traitons vos données personnelles en vertu des bases légales suivantes :

      Consentement : Lorsque vous vous inscrivez et acceptez cette politique de confidentialité, vous nous donnez votre
      consentement pour collecter et traiter vos données.
      Exécution du contrat : Nous traitons vos données pour la gestion de votre compte et pour le traitement des
      paiements, ce qui est nécessaire à l'exécution du contrat entre vous et nous.
      Obligations légales : Si la loi nous oblige à conserver certaines données, nous agissons en conformité avec cette
      obligation.
    </p>

    <h6>4. Partage des données</h6>
    <p>
      Nous ne partageons pas vos données personnelles avec des tiers, sauf dans les cas suivants :

      Prestataires de services de paiement : Lors de l'exécution de paiements en ligne, nous partageons certaines
      informations avec nos prestataires de services de paiement tiers. Ces prestataires sont responsables de la
      sécurité de vos informations de paiement et sont soumis à des exigences strictes en matière de confidentialité.
      Fournisseurs de services techniques : Nous pouvons partager vos données avec des fournisseurs de services
      techniques qui nous aident à héberger et à maintenir notre plateforme, sous réserve qu'ils respectent les normes
      de sécurité des données.
      Obligations légales : Si nous sommes tenus par la loi de divulguer certaines informations, nous pouvons le faire,
      notamment dans le cadre d'une enquête ou d'une procédure judiciaire.
    </p>

    <h6>5. Sécurité des données</h6>
    <p>
      Nous prenons la sécurité de vos données personnelles très au sérieux. Nous utilisons des technologies de cryptage
      avancées (comme HTTPS et SSL) pour protéger vos données pendant leur transmission et pour garantir leur sécurité
      sur nos serveurs. Nous nous efforçons de limiter l'accès à vos données aux seules personnes autorisées et de
      veiller à leur confidentialité.

      Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sûre, et nous
      ne pouvons pas garantir une sécurité absolue.
    </p>


    <h6>6. Durée de conservation des données</h6>
    <p>
      Nous conservons vos données personnelles pendant toute la durée de votre utilisation de notre application et aussi
      longtemps que nécessaire pour respecter nos obligations légales, résoudre des litiges et faire respecter nos
      accords.

      En ce qui concerne les informations relatives aux paiements, ces données sont conservées uniquement pendant la
      durée nécessaire pour effectuer la transaction, et ne sont pas stockées sur nos serveurs. Nous utilisons des
      prestataires de services de paiement tiers qui sont responsables de la gestion de ces données.
    </p>


    <h6>7. Vos droits en matière de données personnelles
      Conformément au RGPD, vous avez les droits suivants concernant vos données personnelles :</h6>
    <p>
      Droit d'accès : Vous pouvez demander à tout moment l'accès à vos données personnelles que nous détenons.
      Droit de rectification : Vous pouvez demander la correction de toute donnée incorrecte ou incomplète.
      Droit à l'effacement : Vous pouvez demander la suppression de vos données personnelles, sous réserve des
      exceptions légales.
      Droit à la portabilité des données : Vous avez le droit de demander que vos données personnelles vous soient
      remises dans un format structuré et lisible par machine.
      Droit d'opposition : Vous pouvez vous opposer à tout traitement de vos données personnelles pour des raisons
      légitimes.
      Droit à la limitation du traitement : Vous pouvez demander la suspension du traitement de vos données dans
      certaines situations.
      Pour exercer ces droits, veuillez nous contacter à l'adresse suivante : josearcadia@gmail.com.
    </p>


    <h6>8. Consentement et modification des données</h6>
    <p>
      En vous inscrivant et en utilisant notre application, vous consentez au traitement de vos données personnelles tel
      que décrit dans cette politique de confidentialité. Si nous modifions cette politique, nous vous en informerons
      par e-mail ou par une notification sur notre plateforme.
    </p>


    <h6>9. Transfert de données en dehors de l'UE</h6>
    <p>
      Si nous transférons vos données personnelles en dehors de l'Union Européenne, nous nous assurons que ces
      transferts sont effectués dans des conditions de sécurité adéquates, conformément aux exigences du RGPD. Nous
      pouvons utiliser des mécanismes de transfert de données, tels que les clauses contractuelles types approuvées par
      la Commission Européenne.
    </p>


    <h6>10. Contact</h6>
    <p>
      Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, ou si vous
      souhaitez exercer vos droits relatifs à vos données personnelles, veuillez nous contacter à l'adresse suivante :
    <p>AllCreation</p>
    <p>Email : josearcadia@gmail.com</p>
    <p>Adresse : Jean Tulipe, 14 Pierreloup France</p>
    </p>
  </div>
  <a href="{% url 'home' %}" class="redirect">Page principal</a>
</section>
{% endblock %}