<section class="epreuves">
  <h2>Epreuves</h2>
  <p class="sentence_main">Les Jeux Olympiques comptent généralement entre 300 et 340 épreuves réparties dans environ 35
    sports. En voici
    quelques uns:</p>
  <div class="container-fluid px-sm-4">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-3">
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Basket</h3>
          <img src="../static/img/basket.jpg" alt="basket">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">4 x 10 min</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">5 joueurs sur le terrain</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1936</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1976</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Football</h3>
          <img src="../static/img/foot.png" alt="foot">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">2 x 45 min</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">11 joueurs sur le terrain</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1900</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1996</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Golf</h3>
          <img src="../static/img/golf.webp" alt="golf">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">+/- 2h10 pour 9 trous</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">60 participants</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">2016</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">2020</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Hockey</h3>
          <img src="../static/img/hockey.jpg" alt="hockey">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">3 x 20 min</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">11 contre 11</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1924</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1992</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Lancer du poids</h3>
          <img src="../static/img/lancer.jpg" alt="Lancer du poids">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">60s par essai</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">1 joueur par nation</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1896</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1948</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Marathon</h3>
          <img src="../static/img/marathon.jpg" alt="Marathon">
          <div class="pb-3">
            <h6 class="sixth_title">Distance : </h6>
            <p class="pb-3">42.195km</p>
            <h6 class="sixth_title">Nombre participants : </h6>
            <p class="pb-3">52 078 partants</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1896</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1984</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Saut en hauteur</h3>
          <img src="../static/img/saut.jpg" alt="Saut en hauteur">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">30s par saut</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">1 joueur par nation</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1896</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1928</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Saut en longueur</h3>
          <img src="../static/img/sautlong.webp" alt="Saut en longueur">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">60s par essai</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">1 joueur par nation</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1900</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1936</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Tennis</h3>
          <img src="../static/img/tennis.webp" alt="Tennis">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">+/- 90min</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">64 athlètes par sexe</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1896</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1988</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Volley</h3>
          <img src="../static/img/volley.jpg" alt="Volley">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">3sets de +/- 30min</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">12 équipes masculines et féminines</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1964</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1996</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Pétanque</h3>
          <img src="../static/img/petanque.jpeg" alt="Petanque">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">+/- 60min</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">3 joueurs par équipe</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">2024</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">2024</p>
          </div>
        </div>
      </div>
      <div class="p-sm-3">
        <div class="col agence_card">
          <h3 class="title_third">Badminlton</h3>
          <img src="../static/img/Badminton.jpg" alt="Badminlton">
          <div class="pb-3">
            <h6 class="sixth_title">Durée : </h6>
            <p class="pb-3">+/- 80min</p>
            <h6 class="sixth_title">Equipe : </h6>
            <p class="pb-3">1 joueur par nation</p>
            <h6 class="sixth_title">Introduction de ce sport pour les hommes au JO :</h6>
            <p class="pb-3">1972</p>
            <h6 class="sixth_title">Introduction de ce sport pour les femmes au JO :</h6>
            <p class="pb-3">1992</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>