<section class="epreuves">
  <h2>Epreuves</h2>
  <p class="sentence_main">Les Jeux Olympiques comptent généralement entre 300 et 340 épreuves réparties dans environ 35
    sports. En voici
    quelques uns:</p>
  <div class="row container-fluid">
    <div class="col-4">
      <div class="row">
        <img src="../static/img/basket.jpg" alt="basket" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            ihil magna</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/foot.png" alt="foot" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            iilis eveniet.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/golf.webp" alt="golf" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            tempore ea sapiente illum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            eveniet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class="col-4">
      <div class="row">
        <img src="../static/img/hockey.webp" alt="hockey" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            ihil magna</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/lancer.webp" alt="Lancer du poids" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            iilis eveniet.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/marathon.webp" alt="Marathon" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            tempore ea sapiente illum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            eveniet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class="col-4">
      <div class="row">
        <img src="../static/img/saut.jpg" alt="Saut en hauteur" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            ihil magna</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/sautlong.jpg" alt="Saut en longueur" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            iilis eveniet.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/tennis.webp" alt="Tennis" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            tempore ea sapiente illum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            eveniet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class="col-4">
      <div class="row">
        <img src="../static/img/volley.jpg" alt="Volley" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            ihil magna</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/petanque.jpeg" alt="Petanque" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            iilis eveniet.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <img src="../static/img/Badminton.jpg" alt="Badminlton" class="col-5">
        <div class="col-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
            tempore ea sapiente illum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
            eveniet.</p>
        </div>
      </div>
    </div>
  </div>


</section>