<section class="epreuves">
  <h2>Epreuves</h2>
  <p class="sentence_main">Les Jeux Olympiques comptent généralement entre 300 et 340 épreuves réparties dans environ 35
    sports. En voici
    quelques uns:</p>
  <div class="container-fluid px-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-3">
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/basket.jpg" alt="basket">
          <div>
            <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              ihil magna</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/foot.png" alt="foot">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
              iilis eveniet.</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/golf.webp" alt="golf">
          <div>
            <p>Lorelum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              eveniet.</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/hockey.jpg" alt="hockey">
          <div>
            <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              ihil magna</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/lancer.jpg" alt="Lancer du poids">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
              iilis eveniet.</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/marathon.jpg" alt="Marathon">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
              tempore ea sapiente illum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              eveniet.</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/saut.jpg" alt="Saut en hauteur">
          <div>
            <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              ihil magna</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/sautlong.webp" alt="Saut en longueur">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
              iilis eveniet.</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/tennis.webp" alt="Tennis">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
              tempore ea sapiente illum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              eveniet.</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/volley.jpg" alt="Volley">
          <div>
            <p>Lorem ipsum dolor Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              ihil magna</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/petanque.jpeg" alt="Petanque">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
              iilis eveniet.</p>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="col agence_card">
          <img src="../static/img/Badminton.jpg" alt="Badminlton">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita officiis minus animi? Rem
              tempore ea sapiente illum! Recusandae reiciendis ad nulla. Cum cupiditate sunt saepe nam ea magni quam.
              eveniet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>