<footer>
  <div class="container">
    <div class="row first_row">
      <section class="col-md-6">
        <div class="row first_section">
          <div class="col-3 centring">
            <img src="../static/img/icon.webp" alt="Flamme Olympique" class="main_logo">
          </div>
          <div class="col-9 address">
            <p>Rue des Remparts, Paris, 1230, France</p>
            <p>Début des JO : 1er juin 2024</p>
            <p>Fin des JO : 10 août 2024</p>
            <p>Numéro des services JO : 04 444 444 544</p>
          </div>
        </div>
      </section>
      <section class="col-md-6">
        <div class="row first_section">
          <div class="col-xl-6 address">
            <p>Les Jeux Olympiques (JO) trouvent leur origine dans la Grèce antique, à Olympie, où ils étaient organisés
              tous les quatre ans à partir de 776 av. J.-C. pour honorer Zeus. Abandonnés au IVᵉ siècle, ils ont été
              réinventés en 1896 par Pierre de Coubertin, qui souhaitait promouvoir la paix et l'excellence sportive.
              Les premiers JO modernes se sont tenus à Athènes avec 14 pays participants.</p>
          </div>
          <div class="col-xl-6">
            <img src="../static/img/history.jpg" alt="Histoire des JO" class="img_history">
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="col-md-6">
        <div class="row first_section">
          <div class="col-xl-3 centring"><img src="../static/img/cart.png" alt="Panier d'achat" class='centring cart'>
          </div>
          <div class="col-xl-9 condition ">
            <a href="#">Mentions légales</a>
            <a href="#">Protection des données</a>
            <a href="#">Condition générales de vente</a>
            <a href="#">Condition générale d'utilisation</a>
            <a href="#">Manuel d'utilisation</a>
          </div>
        </div>
      </section>
      <section class="col-md-6 partner">
        <h5>Partenariat</h5>
        <div class="row">
          <img src="../static/img/nike.png" alt="Nike" class="col-3 partenership">
          <img src="../static/img/adidas.png" alt="Adidas" class="col-3 partenership">
          <img src="../static/img/puma.png" alt="Puma" class="col-3 partenership">
          <img src="../static/img/coca.png" alt="Coca" class="col-3 partenership">
          <img src="../static/img/monster.png" alt="Monster" class="col-3 partenership">
          <img src="../static/img/tesla.png" alt="Tesla" class="col-3 partenership">
          <img src="../static/img/tf1.png" alt="TF1" class="col-3 partenership">
          <img src="../static/img/airFrance.png" alt="Air France" class="col-3 partenership">
        </div>
      </section>
    </div>
    <div class="row">
      <section class="col copyright">
        <p>Jeux Olympiques Paris 2024. Tous droits réservés.</p>
      </section>
    </div>
  </div>

</footer>