<section class="presentation">
  <h2>Histoire des JO</h2>
  <div class="row">
    <div class="col-12 col-xl-6 centring"><img src="../static/img/jo.png" alt="Symbole olympique"
        class="img_presentation"></div>
    <div class="col-12 col-xl-6 text_presentation">
      <p>Les Jeux Olympiques, symboles d'excellence sportive et d'unité internationale, ont une origine
        qui remonte à des siècles dans le passé. Bien que leur forme moderne soit née au XIXe siècle, leur histoire
        commence bien avant cela, dans la Grèce antique, en 776 avant notre ère. À cette époque, les Jeux étaient
        célébrés
        tous les quatre ans en l'honneur de Zeus, le roi des dieux, à Olympie, un site sacré de la péninsule grecque.
        Ces
        premières compétitions étaient bien plus que de simples épreuves sportives ; elles étaient un lieu où les
        cités-états grecques pouvaient se rencontrer, échanger et parfois même mettre fin à leurs guerres.</p>
      <p> Les premiers Jeux Olympiques antiques étaient assez simples : des courses de chars, des compétitions de lutte
        et
        des courses à pied. Ces événements attiraient des spectateurs venus de toute la Grèce, et la victoire dans
        l'arène
        olympique était considérée comme un honneur suprême. Les athlètes étaient célébrés comme des héros et, souvent,
        leurs statues étaient érigées en leur honneur. Les Jeux étaient un moyen de prouver la force et la valeur des
        cités grecques, tout en honorant les dieux.</p>
      <p>Cependant, les Jeux ont été interrompus au cours des siècles suivants, en grande partie à cause des invasions
        romaines et de la montée du christianisme, qui condamnaient ces célébrations païennes. L'empereur romain
        Théodose
        Ier ordonna la fin des Jeux en 393 de notre ère, mettant ainsi fin à un héritage de plus de mille ans.</p>
    </div>

  </div>

</section>