html {
  overflow-x: hidden;
  width: 100%;
}

.evenements {
  height: auto;
  width: 100%;
  border-top: solid 3px black;
}

.evenements h2 {
  height: 120px;
  text-align: center;
  font-size: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

.evenements .sports ul {
  padding-left: 25px;
}

.evenements .sports ul li {
  padding: 20px;
  text-decoration: none;
  border: 2px solid black;
  background-color: #0080ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.evenements .sports ul li:hover {
  margin: 10px;
  font-weight: 600;
}

.evenements .sports ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

#sport-details {
  position: relative;
  overflow: hidden; 
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px); 
  z-index: -1;
}

#sport-details .content {
  position: relative;
  z-index: 1;  
  padding: 10px;
}

.layout_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.opposition {
  margin-bottom: 2rem;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flag-img,
.player-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px;
}

.toto{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.centr_button{
  width: 100%;
  background-color: #0080ff;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.centr_button:hover{
  background-color: #0062c3;
}

.button{
  text-decoration: none;
  color: white;
}

.add_cart{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0080ff;
  height: 35px;
  border-radius: 40px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.add_cart:hover{
  background-color:  #0062c3;
}

.col-6.add_cart{
  width: 40%;
  margin: 0 auto;
}

.ticket-info{
  margin-bottom: 40px;
}

.tag {
  max-width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  border: 1px solid black;
}

.name {
  font-weight: 600;
  font-size: 1.4rem;
}

.adjust_width {
  width: 50%;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 767px) {
  .evenements .sports {
    padding-right: 0;
    width: 80%;
  }

  .assembling{
    display: flex;
    justify-content: center;
  }

  .evenements .sports ul {
    padding-left: 0;
  }

  .evenements .sports ul li {
    padding: 0;
  }

  .evenements .sports ul li a{
    font-size: 1.1rem;
  }

}

@media screen and (max-width: 576px) {
  /* --------------- Evenements ---------------  */
  .layout_card{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .toto{
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .ticket-info{
    margin-bottom: 70px !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .tag {
    max-width: 90%;
  }

  .adjust_width {
    width: 90%;
  }

  .name p {
    position: relative;
    font-size: 1rem; 
  }


  .name p {
    color: transparent;
  }


  .name p::after {
    content: attr(aria-label);
    color: black;
    font-weight: bold; 
    margin-right: 50px;
  }

  .add_cart{
    font-size: 1rem;
  }

  .hidden {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 30px;
  }

  .centr_button{
    font-size: 1rem;
  }
  }

@media screen and (max-width: 400px) {
  .evenements h2{
    font-size: 2.2rem;
  }

  #sport-details .content{
    padding: 0;
    padding-top: 10px;
  }

  .flag-img,
  .player-img {
    margin: 3px;
    max-width: 100px !important;
  }

}